<div class="navegacion">
    <nav>
        <ul class="menu">
            <li><a href="http://localhost:4200/consultar-inmuebles">Consultar inmuebles</a></li>
            <li><a href="http://localhost:4200/consultar-apartamentos">Consultar apartamentos</a></li>
            <li><a href="http://localhost:4200/consultar-casas">Consultar casas</a></li>
            <li><a href="http://localhost:4200/consultar-usuarios">Consultar usuarios</a></li>
            
        </ul>
    </nav>
</div>

<div class="contenedor">
    <div class="aside" style="background-color: red;">
        
    </div>
    <div class="content" style="background-color: yellow;">
        
    </div>
</div>


